body{
    margin: 0;
}

/*Modifico impostazioni Header di Logo e Background*/
header{
width: 1500px;
height: 100px;
background-image: url(../img/pattern.png);
background-color: rgb(78, 160, 255);
background-size: contain;
background-position: center center;
margin-top: 0;
}

figure{
width: 200px;
margin-left: 0;
}

/*Modifico impostazioni di Titolo, autore e data*/

#title1{
    margin-bottom: 0;
}

#author{
    margin: 0;
    font-size: 14px;
}

#date{
    margin: 2px;
    font-size: 11px;
}

/*Modifico Immagini e Autore delle foto*/

#tim-image{
    margin-top: 20px;
}

.photo-description{
    margin: 0;
    font-size: 11px;
}

/*Elenco puntato in linea con il testo*/

ul{
    padding: 0;
}

li{
    margin: 0;
}

/*Tabella Centrale*/

thead{
    background-color: rgb(32, 169, 229)
}

.row-1, .row-3{
    background-color: rgb(177, 229, 242)
}